<footer class="site-footer blog-footer">
  <div class="contact">
    <div>
      <p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
      <p>Follow us on Twitter: {% include partials/twitter_link.html %}.</p>
      <p>Want to work for us? We have <a href="http://madewithlove.be/jobs">job openings</a>.</p>
    </div>
    <div>
      <p>
        Content is published under MIT license, more info and the source material
        <a href="https://github.com/{{ site.github_username }}/blog">can be found on GitHub</a>.
      </p>
    </div>
  </div>
  <p class="copyright">&copy; {{ site.time | date: '%Y' }} madewithlove</p>
</footer>
