.site-footer.blog-footer {
  .contact > div {
    width: 40%;

    &:first-child {
      clear: right;
      margin-right: 0;
    }

    &:last-child {
      float: left;
      margin-left: 0;
    }

    p {
      margin-bottom: 1em;
    }
  }

  .copyright::before {
    background-image: url(/assets/logo.svg);
  }
}